@import url(fontawesome-all.min.css);

.MovieData {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

p#plot {
    font-size: small;
    font-style: italic;
    text-align: center;
}

p {
    font-size: medium;
}

a#MoviePoster {
    margin-left: 30rem;
}

h2 {
    text-align: center;
}

div#AboutMovie {
    position: absolute;
    margin-top: 10rem;
    margin-left: 51rem;
}